/Milestone 1 - Java Basics/HelloWorld/target/
/Milestone 1 - Java Basics/Lesson 3/BestAdderEver/target/
/Milestone 1 - Java Basics/Lesson 3/AllAboutMe/target/
/Milestone 1 - Java Basics/Lesson 3/DontForgetToStoreIt.java/target/
/Milestone 1 - Java Basics/Lesson 3/PassingTheTuringTest.java/target/
/Milestone 1 - Java Basics/Lesson 3/HealthyHearts/target/
/Milestone 1 - Java Basics/Lesson 3/MiniMadLibs/target/