/Milestone 1 - Java Basics/HelloWorld/target/
/Milestone 1 - Java Basics/Lesson 3/BestAdderEver/target/
/Milestone 1 - Java Basics/Lesson 3/AllAboutMe/target/
/Milestone 1 - Java Basics/Lesson 3/DontForgetToStoreIt.java/target/
/Milestone 1 - Java Basics/Lesson 3/PassingTheTuringTest.java/target/
/Milestone 1 - Java Basics/Lesson 3/HealthyHearts/target/
/Milestone 1 - Java Basics/Lesson 3/MiniMadLibs/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 1 - Basics/ABeginning/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 1 - Basics/ProjectGutenberg/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 1 - Basics/CommentingCode/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 1 - Basics/AllTheMaths/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 2 - Variables/InABucket/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 2 - Variables/MoreBucketsMoreFun/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 2 - Variables/TheOrderOfThings/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 2 - Variables/MenuOfChampions/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 3 - Scanner/QuestForTheUserInput/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 3 - Scanner/AllTheTrivia/target/
/Milestone 1 - Java Basics/Lesson 3/Practice 3 - Scanner/DoItBetter/target/
/Milestone 1 - Java Basics/Lesson 4/PracticeProgramming4IfElse/target/
/Milestone 1 - Java Basics/Lesson 4/PracticeProgramming5Random/target/
/Milestone 1 - Java Basics/Lesson 4/PracticeProgramming6WhilesAndDos/target/
/Milestone 1 - Java Basics/Lesson 4/PracticeProgramming7Fors/target/
/Milestone 1 - Java Basics/Lesson 3 - Programs & Statements & Variables/PracticeProgramming1Basics/target/
/Milestone 1 - Java Basics/Lesson 6 - Methods/ProgrammingPractice8Methods/target/
/Milestone 1 - Java Basics/Lesson 7 - Arrays/PracticeProgramming9Arrays/target/
/Milestone 1 - Java Basics/Milestone1Exercises/target/
/Milestone 1 - Java Basics/Milestone1Assessment/target/
/ObjectInstantiation/target/
/Milestone 2 - Classes and Objects/Lesson 2 - Classes & Objects & Creating New Types/RefactorIntoObjectsExercise/target/
/Milestone 2 - Classes and Objects/Lesson 2 - Classes & Objects & Creating New Types/SimpleCalculatorExercise/target/
/Milestone 2 - Classes and Objects/MyInheritanceLab/target/
/Milestone 2 - Classes and Objects/Lesson 4 - Interfaces, Composition, and Inheritance/UserIOClassExercise/target/
/Milestone 2 - Classes and Objects/StateCapitals1/target/
/Milestone 2 - Classes and Objects/Lesson 5 - Collections and Maps/StateCapitals2/target/
/Milestone 2 - Classes and Objects/Lesson 5 - Collections and Maps/StudentQuizScores/target/
/Milestone 2 - Classes and Objects/ClassRoster/target/
/Milestone 2 - Classes and Objects/AddressBook/target/
/Milestone 2 - Classes and Objects/MP3Library/target/
/Section03UnitTests/target/
/Section03UnitTests/nbproject/
/Milestone 2 - Classes and Objects/ClassRoster/nbproject/