body {
    height: 100%;
}

.bg-image {
    position: fixed;
    left: 0;
    right: 0;
    background-image: url("../images/BackgroundVideo2.mov");
    
    filter: blur(2px);
    
    left: -15px;
    right: -15px;
    top: -15px;
    bottom: -15px;
    
    height: 100%; 
    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
    transform: scale(1.5);
}

.container {
    position: fixed;
    left: 0;
    right: 0;
    overflow: auto;
    height: 100%;
}

.col-lg-2 {
    border-right: medium solid snow;
}

.navigation {
    width: 53px;
    height: 53px;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    filter: none;
}

#copyright {
    color: snow;
    font: Geneva;
    text-align: center;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border: thin solid snow; 
}

h2 {
    color: snow;
    font: Geneva;
    padding-bottom: 25px;
    border-bottom: medium solid snow; 
}

h3 {
    color: white;
    font: Geneva;
    padding-bottom: 5px;
}

p {
    color: white;
    font: Geneva;
    padding-bottom: 15px;
}

.aboutIcons {
    width: 35px;
    height: 35px;
    display: block;
    margin-left: 18px;
}